button {
  cursor: pointer;
  padding: 16px 20px;
  border: none;
  background-color: $theme-highlight;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  color: $theme-light;

  &:active, &:focus {
    outline: none;
    border: none;
  }
}