.card {
  background: $theme-light;
  background-color: $theme-light;
  margin: 32px 8px 32px;
  border: 2px solid $theme-mid;
  padding-bottom: 8px;

  &__header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 16px 16px 0;
  }

  &__heading {
    display: inline;
    width: fit-content;
    position: relative;
    color: $theme-light;
    letter-spacing: 2.4px;
    font-size: 2rem;
    z-index: 1;
    transform: rotate(1deg);
    margin: 0 auto;
    padding: 8px 12px;    

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: $theme-mid;
      z-index: -1;
    }
  }

  &__subheading {
    margin-bottom: 16px;
  }
  
  &__content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li, strong {
      font-family: monospace;
      font-size: 1.2rem;
    }

    li {
      display: flex;
      flex-direction: column;
      border: 1px solid $theme-mid;
      flex-basis: calc(50% - 24px);
      padding: 12px;
      margin: 10px 8px;
    }

    p {
      font-family: monospace;
    }
  }

  &__sort {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 16px;
  }


  &__footer {
    text-align: left;
    margin: 16px;

    * {
      font-family: monospace;
    }

    h4 {
      margin-bottom: 20px;
    }
  }

  &__list-item {
    padding-left: 28px;
    margin-bottom: 24px;

    &:before {
      content: '🎵';
      position: absolute;
      left: 0;
    }
  }
}