.item-list {

  &__item {
    font-weight: 700;
    padding: 0 16px;

    &:nth-child(odd) {
      background-color: #d4d0d6;
    }
  }

  &__link {
    font-size: 1rem;
    font-family: monospace;
    padding: 16px;
    width: 100%;
    height: 100%;
    display: block;
    letter-spacing: 0.8px;
    transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);

    &:hover {
      transform: scale(1.1);
    }
  }
}
