.song {
  border-top: 1px solid grey;
  padding: 16px;
  display: flex;

  h2 {
    margin-top: 0;
  }

  h3 {
    letter-spacing: 2px;
    font-weight: 400;
  }

  p {
    line-height: 1.4;
    text-align: left;
    padding-left: 16px;
  }

  &__title {
    flex-basis: 50%;
    padding-right: 0 16px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    text-align: left;
  }

  &__track-info {
    flex-basis: 50%;
  }

  &--dark {
    background-color: #d4d0d6;
  }
}